<html>
<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/signup.css' />
<head><h4><center>Login</center></h4> </head>
<form action="/login" method="post" style="margin-top:46px">
<center>
User Name:<input type="text" name="userName" class="form-control" required>
Password:<input type="password" name="password" class="form-control" required><br>
<input type="submit" name="login" class="btn btn-success"  value="Login">
<%
       		if(typeof error != 'undefined') {
       %>
       <p><%- JSON.stringify(error) %></p>
       <%
       		}
       %>
</center>
</form>
</html>